@page "/"

<Title />

<div style="color: #ffffff">
	<MudText Typo="Typo.h2">Welcome</MudText>
	<MudGrid>
		<MudItem md="6" xs="12">
			<MudText>Welcome to Scheduly</MudText>
		</MudItem>
	</MudGrid>
</div>