@page "/AdminSetting";
@inherits AdminSettingBase;

<h3>AdminSetting</h3>

@foreach (var setting in AdminSettingList)
{
    <MudSwitch Label="@setting.Name" @bind-Checked="setting.Enabled" @bind-Value="setting.Enabled" />
}

<MudButton OnClick="SubmitSettings">Submit</MudButton>