@page "/AdminPanel/Settings";
@inherits AdminSettingBase;

<h3>Admin Settings</h3>

<MudItem xs="12" Class="d-flex mud-width-full">
    <BackButton />
</MudItem>

@foreach (var setting in AdminSettingList)
{
    <MudSwitch Label="@setting.Name" @bind-Checked="setting.Enabled" @bind-Value="setting.Enabled" />
}

<MudButton OnClick="SubmitSettings">Submit</MudButton>