@page "/AdminPanel/ApproveBooking";
@inherits ApproveBookingBase;
@attribute [Authorize(Roles = "Administrator")]

<h3>Approve Booking</h3>

<MudItem xs="12" Class="d-flex mud-width-full">
    <BackButton />
</MudItem>