@page "/AdminPanel/ApproveAbsence";
@inherits ApproveAbsenceBase;
@attribute [Authorize(Roles = "Administrator")]

<h3>Approve Absence</h3>

<MudItem xs="12" Class="d-flex mud-width-full">
    <BackButton />
</MudItem>
