@page "/AdminPanel/ApproveAbsence/AbsenceDetails/{id:int}";
@inherits ApproveAbsenceDetailsBase;

<h3>Approve Absence Details</h3>

<p>Absence ID: @Id</p>

@code {
    [Parameter]
    public int Id { get; set; }
}
