@page "/AdminPanel/ApproveBooking/BookingDetails/{BookingId:int}";
@inherits ApproveBookingDetailsBase;

<h3>GETNAMEOFBOOKING</h3>

<MudItem xs="12" Class="d-flex mud-width-full">
    <BackButton />
</MudItem>
