@page "/";

@using MudBlazor;
@inherits LoginBase;

<h4>Login</h4>

<EditForm Model="@model" OnValidSubmit="HandleValidSubmit">
    <DataAnnotationsValidator />
    <div class="form-group">
        <label for="username">Username:</label>
        <InputText id="username" @bind-Value="model.Username" placeholder="Enter username" />
        <ValidationMessage For="@(() => model.Username)" />
    </div>
    <div class="form-group">
        <label for="password">Password:</label>
        <InputText id="password" @bind-Value="model.PasswordHash" placeholder="Enter password" Type="password" />
        <ValidationMessage For="@(() => model.PasswordHash)" />
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
</EditForm>