@page "/Booking";
@inherits BookingBase;

<h4 class="py-4">Booking</h4>

<MudGrid>
    @foreach (var resourceCategory in ResourceCategoryList)
    {
        <MudItem>
            <MudCard Style="height:100px; width:300px;">
                <MudCardContent>
                    <MudText Typo="Typo.body1"><b>@resourceCategory.Name</b</MudText>
                </MudCardContent>
                <MudCardActions>
                    <MudButton Variant="Variant.Text" Color="Color.Primary" Href="@($"/Booking/details/{resourceCategory.CategoryId}")">Details</MudButton>
                </MudCardActions>
            </MudCard>
        </MudItem>
    }
</MudGrid>
