@page "/Booking";
@inherits BookingBase;

<h4 class="py-4">Booking</h4>

<AuthorizeView Roles="Administrator">
    <Authorized>
        <MudItem xs="12" Class="d-flex align-content-end justify-end mud-width-full pb-4">
            <MudFab Color="Color.Primary" StartIcon="@Icons.Material.Filled.AddCircleOutline" Label="Create Category" Href="@("/Booking/CreateResourceCategory")" />
        </MudItem>
    </Authorized>
</AuthorizeView>

<MudGrid>
    @foreach (var resourceCategory in ResourceCategoryList)
    {
        <MudItem>
            <MudCard Style="height:100px; width:300px;">
                <MudCardContent>
                    <MudText Typo="Typo.body1"><b>@resourceCategory.Name</b</MudText>
                </MudCardContent>
                <MudCardActions>
                    <MudButton Variant="Variant.Text" Color="Color.Primary" Href="@($"/Booking/details/{resourceCategory.CategoryId}")">Details</MudButton>
                </MudCardActions>
            </MudCard>
        </MudItem>
    }
</MudGrid>