@page "/Booking";
@inherits BookingBase;

<h4>Booking</h4>

<MudGrid>
    <MudItem>
        <MudCard>
            <MudCardContent>
                <MudText>Test</MudText>
            </MudCardContent>
            <MudCardActions>
                <MudButton Variant="Variant.Text" Color="Color.Primary">Show More</MudButton>
            </MudCardActions>
        </MudCard>
    </MudItem>

    <MudItem>
        <MudCard>
            <MudCardContent>
                <MudText>Test 2</MudText>
            </MudCardContent>
            <MudCardActions>
                <MudButton Variant="Variant.Text" Color="Color.Primary">Show More</MudButton>
            </MudCardActions>
        </MudCard>
    </MudItem>

    <MudItem>
        <MudCard>
            <MudCardContent>
                <MudText>Test 2</MudText>
            </MudCardContent>
            <MudCardActions>
                <MudButton Variant="Variant.Text" Color="Color.Primary">Show More</MudButton>
            </MudCardActions>
        </MudCard>
    </MudItem>
</MudGrid>
