@page "/Booking";
@inherits BookingBase;

<h4>Booking</h4>

<MudGrid>
    @* @foreach (var resource in Resources)
    { *@
        <MudItem>
            <MudCard>
                <MudCardContent>
                    <MudText>resource.Name</MudText>
                </MudCardContent>
                <MudCardActions>
                    <MudButton Variant="Variant.Text" Color="Color.Primary">Show More</MudButton>
                </MudCardActions>
            </MudCard>
        </MudItem>
    @* } *@
</MudGrid>
