@page "/Booking/PremiseDetails/{PremiseCategoryId:int}/CreatePremise";
@inherits CreatePremiseBase;
@attribute [Authorize(Roles = "Administrator")]

<h3>Create Premise</h3>

<MudItem xs="12" Class="d-flex mud-width-full py-2">
    <BackButton />
</MudItem>

<MudPaper Class="pa-4">
    <MudForm>
        <MudTextField @bind-Value="PremiseName" Immediate="true" Label="Premise name" />
        <MudTextField @bind-Value="PremiseSize" Immediate="true" Label="Size" />
        <MudTextField @bind-Value="PremiseDescription" Immediate="true" Label="Description" />
        <MudCheckBox @bind-Value="MustBeApproved" Label="Must Be Approved" />
    </MudForm>
    <MudCardActions Class="pt-4">
        <MudButton Variant="Variant.Filled" @onclick="CreateNewResource">Create</MudButton>
    </MudCardActions>
</MudPaper>
