@page "/Booking/details/{CategoryId:int}/CreateResource";
@inherits CreateResourceBase;

<h3>Create Resource</h3>

<MudItem xs="12" Class="d-flex mud-width-full py-2">
    <MudButton Variant="Variant.Text" StartIcon="@Icons.Material.Filled.ArrowBackIosNew" Href="@($"/Booking/details/{CategoryId}")">Back</MudButton>
</MudItem>

<MudPaper Class="pa-4">
    <MudForm>
        <MudTextField @bind-Value="ResourceName" Immediate="true" Label="Resource name" />
        <MudTextField @bind-Value="ResourceDescription" Immediate="true" Label="Description" />
        <MudNumericField @bind-Value="ResourceAmount" Immediate="true" Label="Amount" />
        <MudCheckBox @bind-Value="MustBeApproved" Label="Must Be Approved" />
    </MudForm>
    <MudCardActions Class="pt-4">
        <MudButton Variant="Variant.Filled" @onclick="CreateNewResource">Create</MudButton>
    </MudCardActions>
</MudPaper>
