@page "/TimeRegistration";
@inherits TimeRegistrationBase;
@using Scheduly.WebApi.Models.DTO.TimeRegistration;
@attribute [Authorize(Roles = "Administrator,User")]

<h3>Time Registration</h3>

<MudPaper Class="pa-4 mt-2 d-flex justify-center">
    <MudDatePicker Label="Start Date" @bind-Date="startDate" />
    <MudDatePicker Label="End Date" @bind-Date="endDate" />
    <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="UpdateTimeRegistrations">Update</MudButton>
</MudPaper>

<MudDataGrid T="TimeRegistrationDTO" Items="@TimeRegistration" Virtualize="true" Height="auto" Class="pa-4 mt-2">
    <Columns>
        <PropertyColumn Property="x => x.TimeId" />
        <PropertyColumn Property="x => x.UserId" />
        <PropertyColumn Property="x => x.Start" />
        <PropertyColumn Property="x => x.End" />
        <TemplateColumn CellClass="d-flex justify-end">
            <CellTemplate Context="absence">
                <MudButton Size="@Size.Small" Variant="@Variant.Filled" Color="@Color.Error" @onclick="(() => DeleteTime(absence.Item.TimeId))">Delete</MudButton>
            </CellTemplate>
        </TemplateColumn>
    </Columns>
    <LoadingContent>
        <MudText Typo="Typo.h6">Loading...</MudText>
    </LoadingContent>
    <NoRecordsContent>
        No data available
    </NoRecordsContent>
</MudDataGrid>