@page "/AdminPanel/CreateAbsenceType/{Id:int?}"
@inherits CreateAbsenceTypeBase;
@attribute [Authorize(Roles = "Administrator")]

<h3>Create AbsenceType</h3>

<MudItem xs="12" Class="d-flex mud-width-full py-2">
    <BackButton />
</MudItem>

<MudPaper Class="pa-4">
    <MudForm>
        <MudTextField @bind-Value="Name" Immediate="true" Label="Name" />
        <MudNumericField T="decimal" @bind-Value="WageFactor" Immediate="true" Label="Wage factor" Min="0" Max="100" />
        <MudCheckBox @bind-Value="MustBeApproved" Label="Must Be Approved" />
    </MudForm>
    <MudCardActions Class="pt-4">
        <MudButton Variant="Variant.Filled" @onclick="CreateAbsenceType">Create</MudButton>
    </MudCardActions>
</MudPaper>