@page "/Profile/ChangePassword";
@inherits ChangePasswordBase;
@attribute [Authorize(Roles = "Administrator,User")]

<h3>Change Password</h3>

<MudItem xs="12" Class="d-flex mud-width-full">
	<BackButton />
</MudItem>

<MudPaper Class="pa-4" MaxWidth="500px">
	<MudTextField Label="Current password" InputType="InputType.Text" @bind-Value="CurrentPassword" Variant="Variant.Outlined" />
	<MudTextField Label="New password" InputType="InputType.Text" @bind-Value="NewPassword" Variant="Variant.Outlined" />
	<MudTextField Label="Reenter new password" InputType="InputType.Text" @bind-Value="NewPasswordReentered" Variant="Variant.Outlined" />
	<MudButton Variant="Variant.Filled" OnClick="SaveChanges">Save</MudButton>
</MudPaper>
