@page "/Profile";
@inherits ProfileBase;

<h3>Profile</h3>

<MudTextField Label="FirstName" @bind-Value="model.Username" Variant="Variant.Outlined" />
<MudTextField Label="LastName" @bind-Value="model.Username" Variant="Variant.Outlined" />
<MudTextField Label="Address" @bind-Value="model.Username" Variant="Variant.Outlined" />
<MudTextField Label="ZipCode" @bind-Value="model.Username" Variant="Variant.Outlined" />
<MudTextField Label="City" @bind-Value="model.Username" Variant="Variant.Outlined" />
<MudTextField Label="PhoneNumber" @bind-Value="model.Username" Variant="Variant.Outlined" />
<MudTextField Label="Username" @bind-Value="model.Username" Variant="Variant.Outlined" />
<MudTextField Label="PasswordHash" @bind-Value="model.Username" Variant="Variant.Outlined" />
<MudTextField Label="Email" @bind-Value="model.Username" Variant="Variant.Outlined" />
