@page "/Overview";
@inherits OverviewBase;
@using Scheduly.WebApi.Models.DTO;

<h4>Overview</h4>

<MudGrid>
	<MudItem xs="12">
		<MudButton FullWidth="true" Variant="Variant.Filled">Start</MudButton>
	</MudItem>
	<MudItem xs="6" Class="d-flex align-start">
		<MudDataGrid T="OverviewPremisesDTO" Virtualize="true">
			<Columns>
				<PropertyColumn Property="x => x.Name" />
				<PropertyColumn Property="x => x.Size" />
				<PropertyColumn Property="x => x.Start" />
				<PropertyColumn Property="x => x.End" />
				<PropertyColumn Property="x => x.Approved" />
			</Columns>
			<LoadingContent>
				<MudText Typo="Typo.h6">Loading...</MudText>
			</LoadingContent>
			<NoRecordsContent>
				No data available
			</NoRecordsContent>
		</MudDataGrid>

		<MudButton Class="pt-4" FullWidth="true" Variant="Variant.Filled" Href="@("/Booking")">Add</MudButton>
	</MudItem>
	<MudItem xs="6">
		<MudDataGrid T="OverviewResourcesDTO" Virtualize="true">
			<Columns>
				<PropertyColumn Property="x => x.CategoryName" />
				<PropertyColumn Property="x => x.ResourceName" />
				<PropertyColumn Property="x => x.Description" />
				<PropertyColumn Property="x => x.Start" />
				<PropertyColumn Property="x => x.End" />
				<PropertyColumn Property="x => x.Approved" />
			</Columns>
			<LoadingContent>
				<MudText Typo="Typo.h6">Loading...</MudText>
			</LoadingContent>
			<NoRecordsContent>
				No data available
			</NoRecordsContent>
		</MudDataGrid>

		<MudButton Class="pt-4" FullWidth="true" Variant="Variant.Filled" Href="@("/Booking")">Add</MudButton>
	</MudItem>
	<MudItem xs="12" Class="d-flex align-bottom">
		<MudButton FullWidth="true" Variant="Variant.Filled" Href="@("/Absence/ReportAbsence")">Report Absence</MudButton>
	</MudItem>
</MudGrid>