@page "/Absence/ReportAbsence";
@inherits ReportAbsenceBase;

<h4>Report Absence</h4>

<MudItem xs="12" Class="d-flex mud-width-full py-2">
    <MudButton Variant="Variant.Text" StartIcon="@Icons.Material.Filled.ArrowBackIosNew" Href="@("/Absence")">Back</MudButton>
</MudItem>

<MudTextField @bind-Value="Description" Immediate="true" Label="Description" Variant="Variant.Outlined"></MudTextField>

<MudButton Variant="Variant.Filled">Report abscence</MudButton>