@page "/Absence/ReportAbsence";
@inherits ReportAbsenceBase;
@attribute [Authorize(Roles = "Administrator,User")]

<h3>Report Absence</h3>

<MudItem xs="12" Class="d-flex mud-width-full">
    <BackButton />
</MudItem>

<MudPaper Class="pa-4">
    <MudForm>
        <MudSelect T="int" Label="AbsenceType" @bind-Value="_selectedAbsenceTypeId" Clearable="true" Variant="Variant.Outlined">
            @if (AbsenceTypes != null)
            {
                @foreach (var absenceType in AbsenceTypes)
                {
                    <MudSelectItem Value="@(absenceType.AbsenceTypeId)">@absenceType.Name</MudSelectItem>
                }
            }
        </MudSelect>

        <MudDatePicker Label="Start of absence" ShowWeekNumbers="true" @bind-Date="DatetimeStart" Variant="Variant.Outlined" />
        <MudTimePicker Label="Start time of absence" @bind-Time="StartTime" Variant="Variant.Outlined" />
        <MudDatePicker Label="End of absence" ShowWeekNumbers="true" @bind-Date="DatetimeEnd" Variant="Variant.Outlined" />
        <MudTimePicker Label="End time of absence" @bind-Time="EndTime" Variant="Variant.Outlined" />

        <MudTextField @bind-Value="Description" Immediate="true" Label="Description" Variant="Variant.Outlined"></MudTextField>
    </MudForm>
    <MudCardActions Class="pt-4">
        <MudButton Variant="Variant.Filled" @onclick="ReportAbsenceAsync">Report abscence</MudButton>
    </MudCardActions>
</MudPaper>
