@page "/Absence/ReportAbsence";
@inherits ReportAbsenceBase;

<h4>Report Absence</h4>

<MudItem xs="12" Class="d-flex mud-width-full py-2">
    <MudButton Variant="Variant.Text" StartIcon="@Icons.Material.Filled.ArrowBackIosNew" Href="@("/Absence")">Back</MudButton>
</MudItem>

<MudStack Row Class="justify-space-between mud-width-full">
    <MudStack Style="width: 300px">
        <MudSelect T="int" @bind-Value="_selectedAbsenceTypeId"
                   Label="AbsenceType"
                   Clearable="true">
            @if (AbsenceTypes != null)
            {
                @foreach (var absenceType in AbsenceTypes)
                {
                    <MudSelectItem Value="@(absenceType.AbsenceTypeId)">@absenceType.Name</MudSelectItem>
                }
            }
        </MudSelect>
    </MudStack>
</MudStack>

<MudDatePicker Label="Start of absence" ShowWeekNumbers="true" @bind-Date="DatetimeStart" Variant="Variant.Outlined" />
<MudTimePicker Label="Start time of absence" @bind-Time="StartTime" />
<MudDatePicker Label="End of absence" ShowWeekNumbers="true" @bind-Date="DatetimeEnd" Variant="Variant.Outlined" />
<MudTimePicker Label="End time of absence" @bind-Time="EndTime" />

<MudTextField @bind-Value="Description" Immediate="true" Label="Description" Variant="Variant.Outlined"></MudTextField>

<MudButton Variant="Variant.Filled" @onclick="ReportAbsenceAsync">Report abscence</MudButton>